<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Inici</a>
  <ul class="navbar-nav mr-auto">
    
    <li class="nav-item">
      <a class="nav-link" href="/llistaCategoria">Llistes de categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/propostaNecessitat">Propostes de necessitat</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/propostaPressupost">Propostes de pressupost</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/recepcioComanda">Recepció de comandes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/fullComanda">Fulls de comanda</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/llistatProveidor">Llistat de proveïdors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="http://localhost:3000/dash/personals">Personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/element">Elements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/devolucio">Devolucio</a>
    </li>
  </ul>
</nav>
