<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('./partials/header'); %>
</header>

<main>
	<div class="jumbotron mt-4">
	  <h1 class="display-4">Despeses del centre</h1>
	  <p class="lead">Aquesta aplicacio serveix per fer encarrecs i per clasificar el material de l'Institut Vidal i Barraquer.</p>
	  <hr class="my-4">
	  
	</div>
</main>

<footer>
  <%- include('./partials/footer'); %>
</footer>

</body>
</html>