<form action="/singup" method="post">

   
</form>
<input type="email" name="email" placeholder="inserta tu email">
<input type="password" name="password" placeholder="inserta tu contraseña">
 
<button type="submit">

   Singup
</button>

</form>