<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>

	<div class="card mt-4">
	  <div class="card-header">
	     <h5 class="card-title">Nou personal</h5>
	  </div>
	  <div class="card-body">

	   	<form method="POST" action="/personal/create">
				<div class="form-group">
					 <label for="Nom">Nom</label>
					 <input type="text" name="nom" class="form-control">
				</div>
                <div class="form-group">
                    <label for="Cognoms">Cognoms</label>
                    <input type="text" name="cognoms" class="form-control">
               </div>
			   <div class="form-group">
				<label for="contrasenya">Contrasenya</label>
				<input type="text" name="contrasenya" class="form-control">
		   	   </div>
               <div class="form-group">
                <label for="Gmail">Gmail</label>
                <input type="text" name="gmail" class="form-control">
           </div>
           <div class="form-group">
            <label for="Carrec">Carrec</label>
            <input type="text" name="carrec" class="form-control">
           </div>
				<button type="submit" class="btn btn-primary">Save
				</button>
			</form>

			<% if (typeof error !== "undefined") { %>
				<div class="alert alert-primary mt-2" role="alert">   <p><%= error %></p>
				</div>
			<% } %>

	  </div>
	</div>
	

</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>